h1 {
    color: blue;
    font-style: italic;
}

.people {
    font-style: italic;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

.list {
    margin: 10px;
    padding: 4px;
    border: 6px solid brown;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgb(34, 151, 34);
}

.hobbies {
    margin: 10px;
    border: 6px solid brown;
    padding: 4px;
    background-color: rgb(34, 151, 34);
    box-sizing: border-box;
}

img {
    border: 4px;
    border-radius: 150%;
    padding: 5px;
    width: 250px;
    text-align: center;
}

.first {
    float: right;
}

body {
    background-image: url('../images/new.jpg');
    background-size: 100%;
}

h6 {
    font-size: x-large;
}