h1 {
    color: blue;
    font-style: italic;
}

.people {
    font-style: italic;
    font-family: sans-serif;
    font-size: medium;
}

.list {
    border-left: 2px blue;
    border-right: 4px solid green;
    border-top: 6px solid brown;
    border-bottom: 8px solid brown;
    background-color: blue;
    font-style: bold;
}